<div class="card-group">
  <div class="card">
    <img class="card-img-top size" src="https://github.com/rolortizg/dogShelterProject/blob/master/public/images/logo-m.png?raw=true" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Sheltair</h3>
      <p class="card-text">Find your best friend, with this app, Uniendo Rescates is our motto</p>
      <p class="card-text"><small class="text-muted">Made with Node.js, Express, MongoDB, heroku and Handlebars</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://www.casabonitamuebles.com.mx/web-content/images/logo.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CasaBonita Muebles</h5>
      <p class="card-text">Admin your company and manage your employees with this app 
        better look, better company.
      </p>
      <p class="card-text"><small class="text-muted">Angular 6, Node.js, Express, MongoDB, JavaScript</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/manzanos/image/upload/v1536203148/Captura_de_pantalla_de_2018-09-05_22-02-49.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Defeat Your Enemy</h5>
      <p class="card-text">A game with Halo thematic, made with pure JavaScript, Objects and Classes include.</p>
      <p class="card-text"><small class="text-muted">JavaScript, HTML5, CSS</small></p>
    </div>
  </div>
</div>