<nav class="navbar">
  <h2>Ricardo Manzano</h2>

  <ul>
    <li>
      <a href="#">Projects</a>
    </li>
    <!-- <li>
      <a href="#">Hobbies</a>
    </li> -->
    <li>
      <a href="#">About Me</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Projects</span>
    </button>
    <button mat-menu-item>
      <span>Contact</span>
    </button>
    <button mat-menu-item>
      <span>About Me</span>
    </button>
  </mat-menu>


</nav>